[Unit]
Description=September Gemini proxy Server
After=network.target

[Service]
Type=simple
User=september
Group=september
Restart=on-failure
WorkingDirectory=/usr/share/september
ExecStart=/usr/share/september/september

[Install]
WantedBy=multi-user.target